<!DOCTYPE html>
<html>
  <head>
    <title>VueMock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

<body class="skin-blue sidebar-mini">
<div id="app"></div>
<%= yield %>
</body>
</html>
